includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
